html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

/* Header Section */
#navbarContainer {
  padding-top: 8px;
  padding-left: 6%;
  padding-right: 6%;
}

#brandName {
  font-family: 'Rancho', cursive;
  font-weight: 400;
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navitem {
  margin-right: 100px;
}

#containerHeader {
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 6%;
  padding-right: 6%;
}

/* Message */

#message {
  background-color: black;
}

.box {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 7%;
  padding-right: 7%;
}

.confirmation {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  color: white;
  text-align: center;
}

.message {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.icons {
  text-align: center;
  margin-top: 80px;
}

.social-icon {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  margin-right: 7px;
}

.support {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.envelope {
  text-align: center;
  margin-bottom: 20px;
}
