
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

/* NavBar */
#navbarContainer {
  padding-top: 8px;
  padding-left: 6%;
  padding-right: 6%;
}

#brandName {
  font-family: 'Rancho', cursive;
  font-weight: 400;
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navitem {
  margin-right: 100px;
}

/* Header Section */

#containerHeader {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 1.56/2%;
  padding-right: 1.56/2%;
}

#divHeader {
  background-color: black;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-left: 0;
  margin-right: 0;
}

.backgroundHeader {
  position: relative;
  image-orientation: center;
}

#titleHeader {
  /* padding-top: 145px; */
  padding-top: 8%;
  padding-left: 4.44%;
  padding-right: 4.44;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  color: white;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  color: white;
  padding-top: 12px;
  padding-bottom: 5%;
  text-align: justify;
}

.name-input {
  margin-right: 40px;
}

.form-control {
  opacity: 0.7;
}

.flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.btn {
  white-space: nowrap;
  text-align: center;
  margin-left: 2%;
  margin-right: 6%;
  /* font-size: 13px;s */
}

#launchDate {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.imageHeader {
  text-align: center;
}

.image {
  max-width: 100%;
  height: inherit;
  padding-top: 45px;
  padding-bottom: 45px;
}

/* Attributes */

#Attributes {
  background-color: black;
  margin-top: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.contain {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.icon {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
}

.icon:hover {
  color: white;
}

.AttributesText {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h4 {
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 1.5rem;
}

/* Feature Section */

#featuresdiv {
  margin-left: 0;
  margin-right: 0;
}

#featuresBottomDiv {
  margin-left: 0;
  margin-right: 0;
}

.gif {
  text-align: center;
}

.box {
  margin-top: 12px;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 4.5%;
  padding-right: 5%;
}

.LeftBoxText {
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.RightBoxText {
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 35px;
}

.learnGif {
  /* width: 325px;
  height: 650px; */
  /* width: auto;
  height: auto; */
  max-width: 100%;
  height: inherit;
}

.Gif {
  max-width: 100%;
  height: inherit;
}

.NewsFeedGif {
  width: auto;
  height: auto;
}

h2 {
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 29px;
}

#Info {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}

/* Footer */

#footer {
  background-color: black;
}

.infoSection {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

.container1 {
  padding-left: 6%;
}

#footerName {
  font-family: 'Rancho', cursive;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#Logo {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin-bottom: 0;
}

.social-icon {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}

.social-icon:hover {
  color: white;
}

.container2 {
  text-align: center;
}

#Copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  align-self: flex-end;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.container3 {
  padding-top: 20px;
  text-align: right;
  padding-right: 7%;
}

#MoreInfo {
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 22px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}

#infoLink {
  margin-bottom: 0;
}

#Contact {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 0;
}

.support {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  text-align: center;
  margin-bottom: 8px;
}

/* Mobile Devices */

@media (max-width: 575.98px) {
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 1;
    color: white;
  }

  h3 {
    font-size: 20px;
  }

  #launchDate {
    font-size: 14px;
  }

  .form-control {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #footerName {
    padding-top: 10px;
    font-size: 33px;
  }

  #MoreInfo {
    font-size: 20px;
  }

  #Copyright {
    font-size: 13px;
  }
}
